#root {
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 500px;
  background-color: #dbdfe8;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0;
}

.navbar a {
  color: #090b0b;
  text-decoration: none;
  font-size: 1.2rem;
}


.navbar a:hover {
  text-decoration: underline;
}

/* Existing styles */
.card {
  display: flex;
  width: 20%;
  padding: 1rem;
  margin: 1rem;
  background-color: #f0f0f0;
  height: 80px;
  border : 1px solid rgb(198, 180, 180);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-basis: 44.44444 ;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

button {
  font-size: 1.2rem;
  padding: 15px;
  cursor: pointer;
}

.banAdd {
  background-color: #212529;
  color: white;
  padding: 10px 10px;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
